//
// Soflomo Blog
//

.blog-post {
    margin-bottom: 10%;
}

.blog-back-link {
    display: inline-block;
    margin: 0 0 1em 0;
}

.blog-image {
    padding-top: 0;
    margin-bottom: 1.5em;
}

.blog-body {
    position: relative;
}

.blog-more-anchor {
    position: absolute;
    top: -4em;
}

.paginationControl {
    list-style: none;
    margin: 0;
    padding: .5em 1em;
    background: white;
}

.paginationControl li {
    display: inline-block;
}