//
// Soflomo Blog admin
//

.blog-container {
    max-width: 520px;
}

.blog-date {
    display: block;
}

.blog-save-button.top {
    margin-top: 1.4em;
    margin-bottom: 1em;
}

.paginationControl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.paginationControl li {
    display: inline-block;
}